.photo {
	margin-top: 20px;
	width: 160px;
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	overflow: hidden;
	transition: 0.2s;
	&:hover {
		box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
	}
	&__img {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 150px;
		cursor: pointer;
		img {
			width: 100%;
		}
		i {
			position: absolute;
			top: 50%;
			left: 50%;
			translate: transform(-50%, -50%);
			font-size: 20px;
			color: #3d42d6;
		}
	}
	&__title {
		padding: 0 5px;
	}
}
